<div class="page-header">
  <h3>Entertainment #<%= @entertainment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Picture</dt>
      <dd><%= @entertainment.picture %></dd>

      <dt>Title</dt>
      <dd><%= @entertainment.title %></dd>

      <dt>Category</dt>
      <dd><%= @entertainment.category %></dd>

      <dt>Rating</dt>
      <dd><%= @entertainment.rating %></dd>

      <dt>Sender</dt>
      <dd><%= @entertainment.sender_id %></dd>

      <dt>Receiver</dt>
      <dd><%= @entertainment.receiver_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/entertainments" class="btn btn-primary">
        Back
      </a>
      <a href="/entertainments/<%= @entertainment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_entertainment/<%= @entertainment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
