<!-- Validation failure messages -->
<% if @receiver.errors.any? %>
  <% @receiver.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Receiver #<%= @receiver.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_receiver/<%= @receiver.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for entertainment_id -->
      <div class="form-group">
        <label for="entertainment_id" class="control-label">
          Entertainment
        </label>

        <input type="text" id="entertainment_id" name="entertainment_id" placeholder="Entertainment" class="form-control" value="<%= @receiver.entertainment_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @receiver.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Receiver
      </button>
      or
      <a href="/receivers/<%= @receiver.id %>">Cancel</a>
    </form>
  </div>
</div>
