<div class="page-header">
  <h1>
    Receivers
    <a href="/receivers/new" class="btn btn-lg btn-success">New Receiver</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Entertainment</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @receivers.each do |receiver| %>
      <tr>
        <td><%= receiver.entertainment_id %></td>
        <td>
          <% if receiver.user.present? %>
            <a href="/entertainments/<%= receiver.user.id %>">
              <%= receiver.user.picture %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/receivers/<%= receiver.id %>" class="btn btn-primary">Show</a>
          <a href="/receivers/<%= receiver.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_receiver/<%= receiver.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @receivers, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
