<div class="page-header">
  <h3>Receiver #<%= @receiver.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Entertainment</dt>
      <dd><%= @receiver.entertainment_id %></dd>

      <dt>User</dt>
      <dd><%= @receiver.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/receivers" class="btn btn-primary">
        Back
      </a>
      <a href="/receivers/<%= @receiver.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_receiver/<%= @receiver.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
