<div class="page-header">
  <h3>Receiver #<%= @receiver.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Entertainment</dt>
      <dd><%= @receiver.entertainment_id %></dd>

      <dt>User</dt>
      <dd>
        <% if @receiver.user.present? %>
          <a href="/entertainments/<%= @receiver.user_id %>">
            <%= @receiver.user.picture %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/receivers" class="btn btn-primary">
        Back
      </a>
      <a href="/receivers/<%= @receiver.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_receiver/<%= @receiver.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Receiver has many recommends -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommends
      </li>

      <% @receiver.recommends.each do |recommend| %>
        <li class="list-group-item">
          <a href="/recommends/<%= recommend.id %>">
            <%= recommend.entertainment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommends/<%= recommend.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommends/<%= recommend.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommend/<%= recommend.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_recommend" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for entertainment_id -->
      <div class="form-group">
        <label for="entertainment_id" class="control-label">
          Entertainment
        </label>

        <%= select_tag(:entertainment_id, options_from_collection_for_select(Entertainment.all, :id, :picture), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for username -->
      <div class="form-group">
        <label for="username" class="control-label">
          Username
        </label>

        <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="">
      </div>

      <!-- Label and input for receiver_id -->
      <input type="hidden" name="receiver_id" value="<%= @receiver.id %>">

      <!-- Label and input for receiver_username -->
      <div class="form-group">
        <label for="receiver_username" class="control-label">
          Receiver username
        </label>

        <input type="text" id="receiver_username" name="receiver_username" placeholder="Receiver username" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Recommend
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
