<div class="page-header">
  <h3>Receiver #<%= @receiver.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Entertainment</dt>
      <dd><%= @receiver.entertainment_id %></dd>

      <dt>User</dt>
      <dd><%= @receiver.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/receivers" class="btn btn-primary">
        Back
      </a>
      <a href="/receivers/<%= @receiver.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_receiver/<%= @receiver.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Receiver has many recommends -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommends
      </li>

      <% @receiver.recommends.each do |recommend| %>
        <li class="list-group-item">
          <a href="/recommends/<%= recommend.id %>">
            <%= recommend.entertainment_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommends/<%= recommend.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommends/<%= recommend.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommend/<%= recommend.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
